@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');
.how-to{
   font-family: 'Boogaloo', cursive;
   font-size: 20pt

}
.navbar-nav{
    font-family: 'Boogaloo', cursive;
    font-size: 15pt;

}